.dammings-detail {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border: solid 1px #000;
    border-radius: .25rem;
    margin-bottom: .5rem;
  }

  &__info {
    display: flex;
  }
  
  &__data {
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      @media (min-width: 480px) {
        flex-direction: row;
      }
    }

    &-item {
      width: 100%;
      @media (min-width: 480px) {
        width: 50%;
      }
    }

    &-table {
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;

      th, td {
        padding: .5rem;

        &.data-value {
          text-align: end;
        }

        &.difference-value {
          font-weight: bold;
        }

        &.positive {
          color: #0E6251;
        }

        &.negative {
          color: #DB312C;
        }
      }

      thead {
        tr {
          background-color: #A9CCE3;
          border-bottom: solid 1px #1A5276;
          color: #1A5276;
        }
      }

      tbody {
        tr:nth-child(odd) {
          background-color: #FCF3CF;
        }
        tr:nth-child(even) {
          background-color: #FAD7A0;
        }
      }
    }
  }
}