.dammings-detail {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border: solid 1px #000;
    border-radius: .25rem;
    margin-bottom: .5rem;
  }

  &__info {
    display: flex;
  }
  
  &__data {
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      @media (min-width: 480px) {
        flex-direction: row;
      }
    }

    &-item {
      width: 100%;
      @media (min-width: 480px) {
        width: 50%;
      }
    }
  }
}