<div class="dammings-detail__header">
  <div class="dammings-detail__info">
    {{ stationName }}
  </div>
  <div
    class="dammings__button dammings__button--green"
    (click)="goBack()">
    {{ 'common.back' | translate | uppercase }}
  </div>
</div>
<dammings-errors-info></dammings-errors-info>
<div
  *ngIf="showHistoricData()"
  class="dammings-detail__data-wrapper">
  <div class="dammings-detail__data-item">
    <dammings-historic-chart [info]="stationsData()"></dammings-historic-chart>
  </div>
  <div class="dammings-detail__data-item">
    <dammings-historic-table [info]="stationsData()"></dammings-historic-table>
  </div>
</div>
