* {
  box-sizing: border-box;
}

.dammings-language-selector {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;

    border: solid 1px #000;
    border-radius: .5rem;
    padding: .5rem;

    &.selected {
      background-color: #76D7C4;
    }

    & .arrow {
      min-width: 1rem;
      display: flex;
      justify-content: center;

      & div {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;

        &.right {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
        &.left {
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }
      }
      opacity: 0;
      transition: all .5s ease-in-out;
    }

    &:hover {
      & .arrow {
        opacity: 1;
      }
    }
  }

  &__list,
  &__button {
    display: flex;
    align-items: center;
  }

  &__list {
    padding: 0;
    width: 6rem;
    overflow-x: hidden;
  }

  &__button {
    position: relative;
    min-width: 6rem;
    gap: .5rem;
    img {
      width: 1.6rem;
      height: 1.6rem;
    }
    @media (min-width: 480px) {
      transition: all .5s ease-in-out;
    }
  }
}
