<div style="padding: 0 .5rem 1rem .5rem; display: flex; gap: .5rem; align-items: center;">
  Language:
  <button
    class="dammings__button dammings__button--green"
    (click)="changeLanguage(languages.get('ENGLISH'))">ENGLISH</button>
  <button
    class="dammings__button dammings__button--green"
    (click)="changeLanguage(languages.get('SPANISH'))">SPANISH</button>
  <button
    class="dammings__button dammings__button--green"
    (click)="changeLanguage(languages.get('CATALAN'))">CATALAN</button>
</div>
<router-outlet></router-outlet>
