<div class="dammings-damm-info__wrapper">
  <div class="dammings-damm-info__table">
    <div class="dammings-damm-info__title">Damm:</div>
    <div class="dammings-damm-info__data">{{ dammingInfo.estaci }}</div>
    <div class="dammings-damm-info__title">Dammed water:</div>
    <div class="dammings-damm-info__data">{{ percentageFormatted }}</div>
    <div class="dammings-damm-info__title">Date:</div>
    <div class="dammings-damm-info__data">{{ dateFormatted }}</div>
  </div>
  <div class="dammings-damm-info__more-button">
    <button
      class="dammings__button dammings__button--green"
      (click)="showDetail()">
      see last 7 days information
    </button>
  </div>
  <dammings-pie-chart
    [percentage]="percentage">
  </dammings-pie-chart>
</div>